<!-- index.html -->

<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}電視新聞直播{% endblock %}

{% block tvname %}現正播出{% endblock %}

{% block menu %}
<ul class="nav navbar-nav">
    <li class="active"><a href='/'>Home</a></li>
    {% for channel in channels %}
    <li><a href='/{{ forloop.counter0 }}/' style="padding-right: 10px; padding-left: 10px;">{{ channel.name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div id="tvcode" class="text-center">
        <p>現在時間：{{ current_time }}</p>
        {% if current_hour > 18 %}
        <p>晚安</p>
        {% elif current_hour < 10 %}
        <p>早安</p>
        {% else %}
        <p>午安</p>
        {% endif %}
        <br>
        {% for video in videos %}
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video.embed_code }}" frameborder="0" allowfullscreen></iframe>
        <br><br>
        {% endfor %}
    </div>
</div>
{% endblock %}
